.button {
    padding: 12px 24px;
    border-radius: 12px;
    height: 48px;
    border: none;
    outline: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray 500 */

    color: #141A25;;
}

.button.green {
    background: #70DDA7;
}

.button.grey {
    background: #F6F6F6;
}